<div class="container">
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<div class="app-icon">&nbsp;</div>
				<a class="navbar-brand" href="{{ site.locativeUrl }}">Locative</a>
			</li>
			<li class="nav-item">
				<a href="https://blog.locative.io" class="nav-link">Blog</a>
			</li>
			<li class="nav-item">
				<a href="https://my.locative.io/developer" class="nav-link">Developer</a>
			</li>
			<li class="nav-item">
				<a href="https://status.locative.io" class="nav-link">Status</a>
			</li>
			<li class="nav-item">
				<a href="https://my.locative.io/legal" class="nav-link">Legal</a>
			</li>
		</ul>
</div>
